<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h1>Authors:</h1>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=${author.id})}">update</a>
        </td>
        <td>
            <form action="/delete" method="post" about="delete"
                  th:action="@{/delete(id=${author.id})}" th:method="post">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<a href="edit.html" th:href="@{/create}">Создать</a>
</html>
